
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Hello ASP.NET</title>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <h2>Add Employee</h2>
    <form method="post">
        <div class="Employee">
            <h3>Employee</h3>
            <p>
                <label>Id</label><br />
                <input type="number" name="Id" />
            </p>
            <p>
                <label>FullName</label><br />
                <input type="text" name="Fullname" />
            </p>
            <p>
                <label>DateOfCreation</label><br />
                <input type="text" name="DateOfCreation" />
            </p>
            <p>
                <label>DateOfChange</label><br />
                <input type="text" name="DateOfChange" />
            </p>
            <p>
                <label>DateOfHiring</label><br />
                <input type="text" name="DateOfHiring" />
            </p>
            <p>
                <label>Authority</label><br />
                <input type="text" name="Authority" />
            </p>
            <p>
                <label>NameOfDepartment</label><br />
                <input type="text" name="NameOfDepartment" />
            </p>
        </div>
    

    <p>
        <input type="submit" value="Отправить" />
    </p>
    </form>

</body>
</html>
